 /* grid display in the ui  */
.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.person-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 25px;
    grid-column-gap: 15px;
    margin: 30px;
}